# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
env/
venv/

# Ignore all .env files inside agent folders
**/.env


# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables (protects your API keys!)
.env

# Notebooks & temp
.ipynb_checkpoints/
*.log
# Ignore all agent environment files
**/.env
